a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-size: 1.6rem;
  background-color: $primary-color;
  font-weight: 400;
  color: $dark-color;
  font-family: $primary-font;
}

.button {
  border: none;
  cursor: pointer;
  &--round {
    color: $primary-color;
    background-color: $secondary-color;
  }
  &--shadow {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      background-color: rgba(245, 56, 56, 0.35);
      filter: blur(27px);
      border-radius: inherit;
      top: 0;
      left: 50%;
      width: 90%;
      height: 100%;
      transform: translate(-50%, 50%);
    }
  }
  &--primary {
    color: $secondary-color;
    background-color: transparent;
  }
}
