$primary-color: #FFFFFF;
$secondary-color: #F53838;
$thrid-color: #2FAB73;
$black-text: #0B132A;
$dark-color:#4F5665;
$gray-color:#DDE0E4;

$primary-font: 'Rubik', sans-serif;

$wrapper: 1440px;
$container: 1140px;
