section.feature 
	.container 
		.feature-container 
			.feature-image 
				img(src="./images/img-feature.png" alt="")
			.feature-info
				+blockFeatutre("We Provide Many Features You Can Use", "You can explore the features that we provide with fun and have their own functions each feature.")
				ul.feature-list 
					+featureItem("Powerfull online protection.")
					+featureItem("Internet without borders.")
					+featureItem("Supercharged VPN")
					+featureItem("No specific time limits.")