footer.footer 
	.container 
		.footer-container 
			.footer-left
				img(src="../images/img-logo.png", alt="").footer-logo
				.footer-desc <strong>LaslesVPN</strong> is a private virtual network that has unique features and has high security.
				.footer-social 
					i.fab.fa-facebook-f
					i.fab.fa-twitter
					i.fab.fa-instagram
				.footer-publish ©2020LaslesVPN
			.footer-right 
				+footerMenu("Product")
					+footerItem("Download")
					+footerItem("Pricing")
					+footerItem("Locations")
					+footerItem("Server")
					+footerItem("Countries")
					+footerItem("Blog")
				+footerMenu("Engage")
					+footerItem("LaslesVPN ?")
					+footerItem("FAQ")
					+footerItem("Tutorials")
					+footerItem("About Us")
					+footerItem("Privacy Policy")
					+footerItem("Terms of Service")
				+footerMenu("Earn Money")
					+footerItem("Affiliate")
					+footerItem("Become Partner")
				