main 
	section.hero
		.container 
			.hero-container 
				.hero-content
					h1.hero-heading Want anything to be easy with <strong> LaslesVPN.</strong>
					p.hero-desc Provide a network for all your needs with ease and fun using <strong> LaslesVPN </strong>discover interesting features from us.
					a.hero-button.button.button--round.button--shadow Get Started
				.hero-image 
					img(srcset="../images/img-hero.png 2x")