section.network 
	.container 
		.network-container
			+blockPlan("Huge Global Network of Fast VPN","See LaslesVPN everywhere to make it easier for you when you move locations.")
			.network-global 
				img(src="./images/img-network.png", alt="")
			.network-banner
				img(src="./images/img-banner.png", alt="") 
