section.plan 	
	.container 
		.plan-container
			+blockPlan("Choose Your Plan","Let's choose the package that is best for you and explore it happily and cheerfully.") 
			.plan-main 
				+planItem("./images/img-plan.png","Free Plan","Free","button--primary")
					+planInfoItem("Unlimited Bandwitch")
					+planInfoItem("Encrypted Connection")
					+planInfoItem("No Traffic Logs")
					+planInfoItem("Works on All Devices")
				+planItem("./images/img-plan.png","Free Plan","$9","button--primary")
					+planInfoItem("Unlimited Bandwitch")
					+planInfoItem("Encrypted Connection")
					+planInfoItem("No Traffic Logs")
					+planInfoItem("Works on All Devices")
					+planInfoItem("Connect Anyware")
				+planItem("./images/img-plan.png","Free Plan","$12","button--primary","is-active")
					+planInfoItem("Unlimited Bandwitch")
					+planInfoItem("Encrypted Connection")
					+planInfoItem("No Traffic Logs")
					+planInfoItem("Works on All Devices")
					+planInfoItem("Connect Anyware")
					+planInfoItem("Get New Features")

